body{
    background-color: rgb(178, 178, 178);
    background: url("../photos/background-02.jpg")
}

form{
    position: relative;
    left: 5%;
    width: 100%;
    background-size:cover;
    z-index: 30;
   
}
.blur form {
    filter: none;
}
.blur::before{
    background: url("../photos/background-02.jpg");
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-size: cover;
    filter: blur(6px);
    z-index: -1;
}
.iv{
    background-color: none;
    width: 55%;
    height: auto;
    position: relative;
    left:40%;
    top:50px;
    border-radius: 40px;
    border:2px solid darkslategray;
  
    padding: .5%;
    margin-top: 50px;
    color: aliceblue;
}
.iv label{
    font-size: 20px ;
    color:#4CAF50 ;
    padding: 3px ;
    font-weight: bold;

}
.iv3{ 
    background: none ;
    
    color: black ;
    border: none;
    border-bottom: white solid 0.5px ;
    font-size: 20px;
    display: inline;
    padding: 20px 0px 10px;
    text-align: left;
}

 #buttom{
    border-radius: 20px;
    font-size: 15px;
    position: relative;
    left: 5%;
    padding:10px 20px ;
    background-color: #4CAF50;
    border: #4CAF50;
    margin-bottom: 8    px ;
}
#v{
    position: absolute;
    left:15%;
}
p{
    position: relative;
    left: 30%;
}
.f,.g,.t{
    position: relative;
    left:20%;
}
footer .footer-main-div {
    bottom: -120px;
}
.input{
    width: 50%;
    float: left;
    padding: 15px 0px ;
    margin: 0px 35px ;

}


.option{
   
    display: block
}
input::placeholder{
    color:aliceblue ;
    font-size: 20px ;
    font-style: italic;

}
.welcome{
    font-size: 30px;
    color: wheat;
    position: absolute;
    display: inline;
    margin: 325px 0px 10px 146px;
}

 .right-border{
    border-right: aliceblue solid 1.5px ;
    width: 40%;
    margin: 0;
}
@media  only screen and (max-width:1040px){
    .welcome{
        display: none;
    }
    .iv{
        position: relative ;
        margin: 5% -15%;
    }
    .input{
        display: contents;
    }

} 