body{
    background-color:#1d1d1d;
    color: white;
}
#Div1{
    position: relative;
    left: 5%;
    top: 100px;
    width: 95%;
    display: block;
}
#Rainbow1{
   
    border: 5px solid white;
    border-radius: 5px;
    display: inline;
}
#RainbowName{
    color: white;
    font-size: 50px;
    display: block;
    text-align: center;
    font-family: cursive;
}
.RainbowD1{
    display: inline-block;
    position: absolute;
    left: 35%;
    top: 20%;
    margin: 65px;
}
.RainbowD{
    display:block;
    font-size: 30px;
    margin-bottom: 20px;
    font-family:sans-serif;
}
*{
    box-sizing: border-box;
}

img{
    vertical-align: middle;
}
em{
     color: #4CAF50;
}
@media only screen and (max-width:800px){
    .RainbowD1{
    display: contents;
    font-size: 17px ;
}
.RainbowD{
    font-size: 20px ;
}
  
}



/*---------------------------------------------------*/








.gamepreview{
    width: 80%;
    display: flex;
    margin: 200px 160px 60px ;
    padding: 0;
}
.gamepreview div{
    display: inline-block;
    width: 30%;
}
.gamepreview div iframe{
    margin-left: 0;
}
.gamepreview div iframe, .gamepreview div img{
    width: 100%;
    height: 190px;
}


/*----------------------------------------------------------------------------------------*/
.tab{
    overflow: hidden;
  
}

/* Style the buttons inside the tab */
.tab button{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    width: 33.33%;
    color: aliceblue;
}

/* Change background color of buttons on hover */
.tab button:hover{
    background-color: #ddd;
    color: #1d1d1d
}

/* Create an active/current tablink class */
.tab button.active{
    background:#4CAF50 ;
    border-radius: 40px 40px 0px 0px ;
    border: #1d1d1d solid 0.5px ;
    border-bottom: none;
}

/* Style the tab content */
.tabcontent{
    display: none;
    padding: 6px 12px;
    background: black;
    border-radius: 0px 0px 40px 40px ;
}

/*-------------------table ----------------------------*/
table{
    border-style: solid;
    border-width: 1.5px;
    border-color: #919191;
    background-color: white;
    border-radius: 0 0 30px 30px;
    color: black;
    width: 100%;
    margin: 0 auto;
    text-align: center; 
}
td, th{
    border-bottom: 1.5px solid #919191;
    border-right: 1.5px solid #919191;
}
.lasttd{
    border-bottom: 1.5px solid #919191;
    border-right: none;
}
.lasttr{
    border-bottom: none;
}
td{
    width: 40%;
}
td,th{
    padding: 7px;
}
.specs{
    width: 20%;
}
.forbg{
    background-color: #4CAF50;
    color: white;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}

/*----------------------------------*/

.blur1::before{
    background: url("../../photos/background2.jpeg");

    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-size: cover;
    filter: blur(6px);
    z-index: -1;
    
}
